.cat-loader__img-wrapper {
  margin-bottom: 10px;
  overflow: hidden;
}

.cat-loader__img-wrapper img {
  width: 100%;
  transition: ease-in-out 0.5s;
}

.cat-loader__img-wrapper img:hover {
  transform: scale(1.2);
}

.cat-loader__btn {
  width: 100%;
}
